/*/-----GOOGLE FONTS-----*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --header-height: 3.5rem;

    /*/-----COLORS-----*/
    --white-color: hsl(0, 0%, 100%);

    /*/-----FONT-SIZES AND TYPOGRAPHY-----*/
    /*/ .5rem = 8px | 1rem = 16px */
    --body-font: 'Nunito Sans', sans-serif;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
}

/*/--Responsive typography--*/
@media screen and (min-width: 768px){
    :root{
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
    }
}

/*/-----BASE-----*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*/-----LAYOUT-----*/
.img_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

/*/-----HEADER-----*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 1rem;
}
.main{
    padding: 5rem;
    margin-inline: 13rem;
    color: var(--white-color)
}
.header__container{
    width: 100%;
    height: var(--header-height);
    background-color: hsl(0, 0%, 0%, .2);
    backdrop-filter: blur(16px);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.header__logo{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--white-color);
    font-weight: 500;
}
.header__logo i{
    font-size: 1.5rem;
}
.header__toggle{
    width: 32px;
    height: 32px;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: hsl(0, 0%, 0%, .2);
    color: var(--white-color);
    cursor: pointer;
}

/*/-----SIDEBAR-----*/
.sidebar{
    position: fixed;
    top: calc(var(--header-height) + 1rem);
    left: -120%;
    bottom:0;
    width: 232px;
    background-color: hsla(0, 0%, 0%, .2);
    backdrop-filter: blur(16px);
    z-index: 100;
    padding: 1rem 1rem 1.5rem; 
    margin: 1rem;
    transition: left .4s;
    border-radius: 1rem;
    overflow: hidden;
    
}
.sidebar__logo{
    display: flex;
    align-items: center;
    column-gap: .75rem;
    color: var(--white-color);
    padding: 0 0 1rem .5rem;
    font-weight: 500;
    border-bottom: 1px solid hsla(0, 0%, 100%, .3);
}
.sidebar__logo i{
    font-size: 1.5rem;
}
.sidebar__content{
    display: grid;
    row-gap: .5rem;
    padding-top: 1.5rem;
}
.sidebar__link{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: var(--white-color);
    padding: .5rem;
    border-radius: .5rem;
    transition: background-color .4s;
}
.sidebar__link i{
    font-size: 1.25rem;
}
.sidebar__link span{
    font-weight: 500;
}
.sidebar__link:hover{
    background-color: hsl(0, 0%, 0%, .2);
}
/*/-----SHOW SIDEBAR-----*/
.show-sidebar{
    left: 0;
    backdrop-filter: blur(16px);
}
/*/-----DROPOWN-----*/
.drop__button{
    width: 100%;
    flex-direction: row;
    border: none;
    outline: none;
    background: none;
    font: 500 var(--normal-font-size) var(--body-font);
    cursor: pointer;
}
.drop__arrow{
    margin-left: auto;
    transition: transform .4s;
}
.drop__list{
    display: grid;
    row-gap: .25rem;
    height: 0;
    overflow: hidden;
    transition: height .4s;
}
.drop__item{
    position: relative;
    display: block;
    color: var(--white-color);
    padding: .5rem .5rem .5rem 2.25rem;
    border-radius: .5rem;
    transition: background-color .4s;
}
.drop__item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 1rem;
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    border-radius: 50%;
    bottom: 0;
    margin: auto 0;
}
.drop__item:hover{
    background-color: hsla(0, 0%, 0%, .2);
}
/*/-----ROTATE DROP ICON-----*/
.show-drop .drop__arrow{
    transform: rotate(-180deg);
}
/*/-----FOR SMALL DEVICES-----*/
@media screen and (max-width: 320px){
   .header{
    margin-inline: .5rem;
   }
   .sidebar{
    width: 200px;
    margin-inline: .5rem;
   }
    
}
/*/-----FOR LARGE DEVICES-----*/
@media screen and (min-width: 1024px){
    .header{
        margin: 1.5rem;
        padding-left: 274px;
        transition: padding .4s;
    }
    .header__container{
        height: calc(var(--header-height) + 2rem);
        padding-inline: 1.5rem;
    }
    .header__toggle{
        display: none;
    }
    .sidebar{
        left: 0;
        width: 250px;
        margin: 1.5rem;
        padding:  2rem 1.5rem;
    }
    .main{
        padding-left: 274px;
        padding-top: 8rem;
        transition: padding .4s;
    }
    
}

/*/-----BLUR SIDEBAR-----*/
.main{
    position: relative;
}

.main::before{
    content: '';
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, .2);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    z-index: 90;
}
.show-sidebar ~ .main::before{
    opacity: 1;
    pointer-events: auto;
}
